*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    /* min-height: 900px; */
    background-color: #8BC6EC;
    background-image: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}

.Cards{
    width: 300px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 10px;

}

.Cards img{
    height: 40%;
    border-radius: 10px;
}
.Cards h1{
    font-weight: bold;
    font-size: 1.5rem;
}
.Cards p{
    font-size: 1.2em;
}