*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100%;
    width: 100%;
    overflow-x: none;
    background: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}
.navContainer{
    width: 100vw;
    /* background-color: rgb(113, 113, 154, 0.776); */
    background: #000000;
    background-image: linear-gradient(160deg, #000000 0%, #8085d0 100%);
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
nav{
    width: 100%;
    /* padding-right: 2rem; */
}
#navList {
    width: 100%;
    padding: 15px;
    /* margin-left: 20px;
    margin-right: 20px; */
    list-style: none;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#navLogo{
    font-size: 2.8rem;
    color: white;
}

a{
    text-decoration: none;
    color: azure;
}
navItems{
    display: flex;
    gap: 50px;
}

.footerBox{
    background: #000000;
    background-image: linear-gradient(160deg, #000000 0%, #8085d0 100%);
    width: 100%;
    text-align: center;
    min-height: 40px;
}

.footerBox p{
    color: azure;
    font-size: 2rem;
}

.contentBox{
    width: 50%;
    margin: auto;
    /* border: 1px solid black; */
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 3rem;
    box-shadow: 0px 0px 40px black;
}
.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rightBox{
    position: relative;
    overflow: hidden;
    transition: all 0.3s linear 0s;
    box-shadow: 1px 1px 10px black;
    border-radius: 20px;

}

.rightBox img{
    height: 250px;
    border-radius: 20px;
    transition: all 0.6 linear 0s;

}

.rightBox img:hover{
    transform: scale(1.1);
}

.leftBox{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.leftBox h2{
    font-size: 2rem;
}

.IngredientBox{
    font-size: 1.3rem;
}

.RecipeBox{
font-size: 1.1rem;
}

.rightBox .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(36, 34, 34, 0.713);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.rightBox:hover .overlay{
    opacity: 1;
    transition: all 0.3s linear 0s;
}

.rightBox .overlay span{
    color: white;
    font-size: 1.2rem;
}