*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Time New Roman', Times, serif;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(56, 50, 50);
  color: white;
  font-size: 2rem;
}
